body {
	margin: 0px;
	padding: 0px;
}
.left {
	background: #313541;
	width:100%;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
}
.bigTitle {
	background: #3d598a;
	color: #fff;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
	font-family: -webkit-body;
}

.lines .active {
	background: #272a34;
	color: #fff;
}
.lines img{
    width: 23px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 9px;
}
.lines div {
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	color: #707783;
}
.left a{
	 text-decoration:none;
	 color:#ffffff;
}
.lines div:hover {
	cursor: pointer;
	color: #FFFFFF;
}