<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">true</property>
    	<property name="hbm2ddl.auto">update</property>
    <!-- <property name="current_session_context_class">thread</property> -->
    	<mapping resource="com/sise/ssh/gh/po/Category.hbm.xml"/>   
    	<mapping resource="com/sise/ssh/gh/po/News.hbm.xml"/>  
    </session-factory>

</hibernate-configuration>